%h1 Participation#index
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml
%p Find me in app/views/participation/index.html.haml