!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Demo Day App
    /[if lte IE 8] <script src="/javascripts/html5.js"></script>
    %script{:src => "/index_files/jquery-1.js", :type => "text/javascript"}
    %script{:src => "/index_files/jquery_002.js", :type => "text/javascript"}
    %script{:src => "/index_files/jquery.js", :type => "text/javascript"}
    %script{:src => "/index_files/tipsy.js", :type => "text/javascript"}
    %script{:src => "/index_files/application.js", :type => "text/javascript"}
    %link{:href => "/index_files/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 6] <link rel="stylesheet" href="/stylesheets/main.ie6.css" type="text/css" media="screen" charset="utf-8">
    /[if IE 7] <link rel="stylesheet" href="/stylesheets/main.ie7.css" type="text/css" media="screen" charset="utf-8">
    %script{:async => "", :src => "/index_files/ga.js", :type => "text/javascript"}
  %body#posts_page
    %header
      #title
        %a{:href => "/"}
          %h1 Demo Day App
          %h2 You own a Rails app!
      %a#enginyard_header{:href => "http://engineyard.com/"} Presented by Engine Yard
      %nav
        %ul
          %li.current
            %a{:href => "/"} Current
          %li.false
            %a{:href => "http://engineyard.com"} Engine Yard
          %li.false
            %a{:href => "http://heroku.com"} Heroku/Salesforce
    %section

      %article
        #page_additional.with_contributor
          %a.person_thumb.small{:href => "http://railsdispatch.com/contributors/6", "original-title" => "Article", :rel => "tipsy"}
            %img{:alt => "Icon", :src => "/images/hudson_butler.png"}/
            %span.person_mask
          %h3.post_title Final steps...
          .contributor_details
            %ul.contributor_social_links
              %li.contributor_social
                %a.twitter_social{:href => "http://twitter.com/wycats", "original-title" => "Follow Yehuda on Twitter", :rel => "tipsy"} Yehuda
              %li.contributor_social
                %a.github_social{:href => "http://github.com/wycats", "original-title" => "Follow Yehuda on Github", :rel => "tipsy"} Yehuda
              %li.contributor_social
                %a.ask_contributor_question{:href => "http://railsdispatch.com/community/questions/new?question[contributor_id]=6", "original-title" => "Ask Yehuda a question", :rel => "tipsy"} Yehuda
              %li.contributor_social
                %a.website{:href => "http://www.yehudakatz.com/", "original-title" => "Visit Yehuda\342\200\231s Site", :rel => "tipsy"} Yehuda
        /
          <ul class="element_list">
          <li class="title"><span>In this post</span></li>
          <li></li>
          </ul>
        .post_content
          = yield
      
  %footer
    #footer_contents
      #engineyard_photo
        %a{:href => "http://railsdispatch.com/about/about_engine_yard"}
          %img{:alt => "Engineyard", :height => "128", :src => "/index_files/engineyard.png", :width => "241"}/
        %h6 Our office
      #engineyard
        %h3 Open Source Philanthropy
        %p
          Open source is a key part of the
          %a{:href => "http://www.engineyard.com/"} Engine Yard
          strategy, and we give back as much as we can. Engine Yard funds full time open source contributors, on projects like Ruby,
          Rails, JRuby, Rubinius and fog.
        %p ©2010 Engine Yard Inc.
      #copyrights
        %h5 Engine Yard
        %p
          Design by
          = succeed "," do
            %a{:href => "http://newgoldleaf.com/"} New Gold Leaf
          originally for Rails Dispatch
          %a{:href => "http://railsdispatch.com/"} Rails Dispatch
          by
          = succeed "." do
            %a{:href => "http://engineyard.com"} Engine Yard
    #tracking_code
